<nb-layout>
    <nb-layout-header fixed>
        <app-header></app-header>
    </nb-layout-header>

    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive >
       <!--  <div>
            <img src="../../assets/images/rocket_courier.png"/>
        </div> -->
        <nb-menu [items]="menu"></nb-menu>
    </nb-sidebar>

    <nb-layout-column class="rocket-content">
        <ngx-spinner bdOpacity=1 bdColor="rgba(0,34,64,0.9)" size="medium" color="#ffffff" type="cube-transition" [fullScreen]="true">

        </ngx-spinner>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>
