<div class="header-container">
  <!-- 
  <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a class="logo">
        <span style="font-size: x-large;">
          <b>Rocket</b>
          
          <small style="margin-left: 10px; margin-right: 10px;">1.0.0</small>
        </span>
      </a>
    </div>
  </div>
-->
<div class="logo-container">
  <a
    href="#"
    class="sidebar-toggle"
    matRipple
    [matRippleUnbounded]="true"
    [matRippleCentered]="true"
    (click)="toggleSidebar()"
  >
    <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
  </a>
  <a class="logo" href="#" (click)="goToHome()"><span>Rocket App</span></a>
</div>



  <nb-select
    status="primary"
    matRipple
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
  >
    <nb-option
      *ngFor="let theme of themes"
      [value]="theme.value"
      matRipple
    >{{ theme.name }}</nb-option>
  </nb-select>


