<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo">
      <span style="font-size: x-large;">
        <b>Rocket</b>

        <small style="margin-left: 10px; margin-right: 10px;">1.0.0</small>
      </span>
    </a>
  </div>
</div>
<div class="header-container">
  <!--
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  -->
</div>
