<div class="header-container">

  <div class="logo-container">
    <a href="#" class="sidebar-toggle" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true"
      (click)="toggleSidebar()">
      <nb-icon [icon]="(materialTheme$ | async) ? 'menu-outline' : 'menu-2-outline'"></nb-icon>
    </a>
    <!-- <a class="logo" href="#" (click)="goToHome()">Consola - <span>Rocket Courier</span></a> -->
  </div>

</div>

<div class="header-container">
<nb-actions>
    <nb-action
      class="user-action"
      matRipple
      [matRippleUnbounded]="true"
      [matRippleCentered]="true">
      <nb-user [name]="user?.name" [picture]="user?.picture" color="#cccccc" [nbContextMenu]="userMenu"></nb-user>
    </nb-action>
  </nb-actions>
</div>
<!-- <nb-select
    status="primary"
    matRipple
    [selected]="currentTheme"
    (selectedChange)="changeTheme($event)"
  >
    <nb-option
      *ngFor="let theme of themes"
      [value]="theme.value"
      matRipple
    >{{ theme.name }}</nb-option>
  </nb-select> -->