<form #firstForm="ngForm" class="step-container">
  <div class="row">
    <nb-alert outline="info" style="width: 100%">
      <h2>Instrucciones</h2>
      <mat-divider></mat-divider>
      <ol>
        <li>
          <p>Selecciona el archivo con el layout
            <nb-icon icon="plus-square-outline"></nb-icon>
            .
          </p>
        </li>
        <li>
          <p>Da clic en continuar para pasar a la previsualización del archivo.</p>
        </li>
      </ol>
    </nb-alert>
  </div>
  <div class="row mt-4">
    <div class="col-md-12 ml-3">
      <mat-form-field >
        <mat-label>Archivo Seleccionado</mat-label>
        <input #finput2 (change)="readExcel($event)" id="file-upload" accept=".csv,.xlsx" type="file"
          style="display: none" />
        <input matInput [ngModel]="nombreArchivo" readonly="true" name="label-archivo"/>
        <button matSuffix nbButton matRipple status=info (click)="finput2.click()">
          Seleccionar Archivo
        </button>
    </mat-form-field>

    </div>
  </div>
  <hr />
  <button nbButton nbStepperNext type="button" [disabled]="!fileLoaded">Continuar</button>
</form>