<nb-card>
    <nb-card-body style="padding: 50px;">
      <nb-stepper #stepper disableStepNavigation>
  
        <nb-step label="Carga de archivo" >
         <app-carga-archivo (archivoCargado) = setArchivoCargado($event)></app-carga-archivo>
        </nb-step>
  
        <nb-step label="Previsualización">
        <app-previsualizacion [archivoCargado] = "archivoCargado" (resultado)=setResultado($event)></app-previsualizacion>
        </nb-step>
  
        <nb-step label="Procesamiento">
         <app-show-result [resultado] = "resultado"></app-show-result>
        </nb-step>
        <nb-step [hidden]="true">
         
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
  