
<div class="background img-fluid">
    <div class="step-container">
    <div class="row mt-4">
        <div class="col-lg-3 col-md-12 col-sm-12">
            <form>
          <mat-form-field style="width: 100%;">
            <mat-label>Localiza tu envío</mat-label>
            <input matInput name="label-archivo" type="search" placeholder="Código de rastreo"/>
          </mat-form-field>
          </form>
        </div>
    
        <div class="col-md-12 col-lg-9 col-sm-12">
          <button mat-raised-button color="accent" matRipple>
            <nb-icon icon="search-outline"></nb-icon>
           Buscar
          </button>
        </div>
      </div>
    </div>
</div>
