
    <mat-form-field appearance="standard">
        <mat-label>Vendedor / Repartidor</mat-label>
        <mat-select [(value)]="loggedUser" [disabled] = "hasAccess('filtro', ['messenger'])"> 
          <mat-option *ngFor="let user of users_combo" [value]="user.user">
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button color="accent" matRipple class="ml-5" (click)="obtenerRegistros()">
        <nb-icon icon="search-outline"></nb-icon>
       Traer Registros
    </button>
